* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background: $selection-bg;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  background: $scrollbar-bg;
  z-index: 10;

  &:horizontal {
    height: $scrollbar-height;
  }
}

::-webkit-scrollbar-track {
  border-radius: $scrollbar-radius;
}

::-webkit-scrollbar-thumb {
  border-radius: $scrollbar-radius;
  background: $scrollbar-color;
}

html,
body {
  @include size(100%);
}

html {
  @include font-smooth(true);

  color: $color-root;
  font-family: $font-family-base;
  font-size: $font-size-root;
}

body {
  min-width: 320px;
  background: $background-root;
  overflow-x: hidden;
}

a {
  @include transition(all);

  color: $brand-primary;
  text-decoration: none;

  &:hover {
    color: lighten($brand-primary, 15%);
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  transform: translate(0, 0);
  fill: currentColor;
}

button {
  &:focus {
    outline: none;
  }
}
