#app,
.app {
  @include size(100%);
}

.app {

  &__content {
    padding-top: 120px;
  }

  &__floating-menu {
    position: fixed !important;
    right: 20px;
    bottom: 20px;
    z-index: 400;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
}
