//=== Colors
$gray-darkest: #161819;
$gray-dark: #25282a;
$gray: #303436;
$gray-light: #42494c;
$gray-lighter: #565d62;
$gray-lightest: #e0e0e0;

$brand-primary: #50e3c2;
$brand-secondary: #00adb5;
$brand-success: #00897a;
$brand-info: #0180aa;
$brand-warning: #f9a42b;
$brand-danger: #f04;


//=== Retina
$retina-pixel-ratio-min: 1.5;
$retina-pixel-ratio-max: $retina-pixel-ratio-min - .1;


//=== Grids & Layouts
$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 520px,
  md: 768px,
  lg: 1080px,
  xl: 1310px
);

$container-max-widths: (
  sm: map-get($grid-breakpoints, sm) - $grid-gutter-width,
  md: map-get($grid-breakpoints, md) - $grid-gutter-width,
  lg: map-get($grid-breakpoints, lg) - $grid-gutter-width,
  xl: map-get($grid-breakpoints, xl) - $grid-gutter-width
);


//=== Transitions
$transition-duration-base: 400ms;
$transition-duration-slow: $transition-duration-base * 2;
$transition-duration-normal: $transition-duration-base * 1;
$transition-duration-fast: $transition-duration-base * .5;

$transition-easing: cubic-bezier(0, 0, .2, 1);


//=== Base
$color-root: $gray-lightest;
$background-root: $gray-light;


//=== Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Avenir, Lucida Grande, Helvetica Neue, "游ゴシック", YuGothic, Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-root: 16px;
$font-size-base: 1rem;

$line-height-base: 1.6;


//=== Selections
$selection-bg: rgba(darken($brand-primary, 20%), .8);
