//=== Colors
$gray-dark: #000;
$gray: #333;
$gray-light: #b6b6b6;
$gray-lighter: #eaeaea;
$gray-lightest: #f3f3f3;

$brand-primary: #00adb5;
$brand-secondary: #000; //TODO
$brand-success: #00897a;
$brand-info: #0180aa;
$brand-warning: #f9a42b;
$brand-danger: #d9534f;


//=== Retina
$retina-pixel-ratio-min: 1.5;
$retina-pixel-ratio-max: $retina-pixel-ratio-min - .1;


//=== Grids & Layouts
$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 520px,
  md: 768px,
  lg: 1080px,
  xl: 1310px
);

$container-max-widths: (
  sm: map-get($grid-breakpoints, sm) - $grid-gutter-width,
  md: map-get($grid-breakpoints, md) - $grid-gutter-width,
  lg: map-get($grid-breakpoints, lg) - $grid-gutter-width,
  xl: map-get($grid-breakpoints, xl) - $grid-gutter-width
);


//=== Transitions
$transition-duration-base: .45s;
$transition-duration-slow: $transition-duration-base * 2;
$transition-duration-normal: $transition-duration-base * 1;
$transition-duration-fast: $transition-duration-base * .5;

$transition-easing: $ease-out-quint;


//=== Typography
$font-family-sans-serif: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
// $font-family-accent: "Josefin Sans", sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-root: 16px;
$font-size-base: 1rem;

$line-height-base: 1.6;


//=== Selections
$selection-bg: rgba($brand-primary, .8);
