@charset "utf-8";

.ReactStyleguidist-colors__base,
.ReactStyleguidist-Props__heading,
.ReactStyleguidist-Props__cellHeading,
.ReactStyleguidist-Layout__heading {
  color: #e0e0e0;
}

.ReactStyleguidist-colors__link,
.ReactStyleguidist-colors__link:link,
.ReactStyleguidist-colors__link:visited {
  color: #50e3c2;
}

.ReactStyleguidist-colors__border {
  border-color: #484848;
}

.ReactStyleguidist-colors__base-bg {
  background: #42494c;
}

.ReactStyleguidist-Layout__sidebar {
  background: #25282a;
}

.ReactStyleguidist-Playground__root {
  overflow: visible;
}
