@charset "utf-8";

.ReactStyleguidist-colors__base,
.ReactStyleguidist-Props__heading,
.ReactStyleguidist-StyleGuide__heading,
.ReactStyleguidist-ReactComponent__heading,
.ReactStyleguidist-Props__cellHeading,
.ReactStyleguidist-Layout__heading {
  color: #e0e0e0;
}

.ReactStyleguidist-colors__light {
  color: #888;
}

.ReactStyleguidist-colors__name {
  color: #28c7a5;
}

.ReactStyleguidist-colors__type {
  color: #51d1da;
}

.ReactStyleguidist-colors__link,
.ReactStyleguidist-colors__link:link,
.ReactStyleguidist-colors__link:visited {
  color: #50e3c2;
}

.ReactStyleguidist-colors__border {
  border-color: #484848;
}

.ReactStyleguidist-colors__base-bg {
  background: #42494c;
}

.ReactStyleguidist-colors__code-bg {
  background: #25282a;
}

.ReactStyleguidist-Playground__root {
  overflow: visible;
}
