.item-detail-meta-container {

  &__header {
    margin: 0 0 25px;
  }

  &__name,
  &__url,
  &__description {
    display: block;
  }

  &__name {
    margin: 0 0 5px;
    padding-right: 20px;
    font-size: 1.37rem;
    font-weight: normal;
  }

  &__url {
    margin: 0;
    font-size: .75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__description {
    margin: 0;
    font-size: .75rem;
  }
}
