.tag-drawer-container {
  top: 120px;
  z-index: 900;

  &__footer {
    position: relative;
    padding: 0 25px 10px;
    background: darken($gray-light, 10%);
  }

  &__footer-overlay {
    background: rgba(#fff, .4) !important;
  }

  &__empty-data {
    padding: 0 25px;
  }
}
