.app-page {
  @include size(100%);

  &__dnd {
    position: relative;
    z-index: 900;

    .file-dnd__overlay {
      position: fixed;
    }

    &__title {
      margin: 0;
      font-size: 1.75rem;
      font-weight: bold;
    }
  }

  &__content {
    @include transition(padding, fast);
    padding-top: 120px;
    padding-bottom: 120px;

    &--is-tag-drawer-open {
      padding-left: 270px;
    }
  }

  &__floating-menu {
    @include transition((transform, opacity), $transition-duration-fast);
    position: fixed !important;
    right: 20px;
    bottom: 20px;
    transform: translateY(0) scale(1);
    opacity: 1;
    z-index: 1200;

    &--has-selected-entity {
      transform: translateY(20px) scale(.9);
      opacity: 0;
    }
  }
}
