.board-detail {
  display: block;
  width: auto;
  padding: 20px 0 40px;

  &__control {
    margin: 0 0 20px;
    padding: 0 20px;
    text-align: right;
  }

  &__sort-switcher {
    color: darken($gray-lightest, 20%);
    font-size: .87rem;
  }
}
