.boards-page {
  display: block;
  position: relative;
  width: auto;
  margin-top: -120px;
  padding: 120px 0 60px;

  &__fetching-spinner {
    display: block !important;
    position: absolute !important;
    top: 60px;
    left: 50%;
    margin-left: -14px;
  }
}
