.boards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding: 30px 0;

  &__item {
    flex-basis: 33.33%;
    margin: 0 0 30px;
    padding: 0 15px;

    &--list {
      flex-basis: 100%;
    }
  }
}
