.settings-page {
  width: 500px;
  margin: 0 auto;

  &__drive-capacity {
    .progress-bar {
      background: $gray-light;
    }
  }

  &__group {
    @include clearfix;
    display: table;
    width: 100%;
    margin: 50px auto;

    &__title,
    &__body {
      display: table-cell;
      vertical-align: top;
    }

    &__title {
      width: 170px;
      margin: 0;
      padding: 0 30px 0 0;
      font-size: 1rem;
      font-weight: normal;
      text-align: right;
    }

    &__body {
      font-size: .87rem;

      > * {
        margin: 1rem 0;

        &:first-child {
          margin-top: 0 !important;
        }

        &:last-child {
          margin-bottom: 0 !important;
        }
      }

      .radio-group {
        padding-top: .2em;
      }
    }
  }
}
