$button-color-primary: $brand-primary;
$button-color-secondary: $brand-secondary;
$button-color-danger: $brand-danger;
$button-icon-margin: 8px;


@mixin button-styles() {
  $shadow-color: rgba(#000, .11);

  @include transition(all);
  display: inline-block;
  position: relative;
  border-radius: 2px;
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px $shadow-color, 0 2px 4px $shadow-color;
  line-height: 1;
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: 0 1px 4px $shadow-color, 0 1px 2px $shadow-color;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &--disable,
  &--processing {
    cursor: default;
  }

  &__ripple-container {
    @include absolute(0, 0, 0, 0, 0);
    overflow: hidden;
  }

  &__ripple {
    @extend %ripple;
  }

  &__body {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 12px 25px;
    border: none;
    border-radius: 0;
    background: transparent;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
    user-select: none;

    &:focus {
      outline: none;
    }

    &:hover,
    &:active {
      color: inherit;
    }

    &--text-align {
      &-center {
        justify-content: center;
      }

      &-right {
        justify-content: flex-end;
      }

      &-left {
        justify-content: flex-start;
      }
    }

    &--disable,
    &--processing {
      cursor: default;
    }
  }

  &__label {
    position: relative;
    z-index: 1;

    &--processing {
      opacity: 0;
    }
  }

  &__icon {
    margin: 0 $button-icon-margin 0 0;

    svg {
      @include size(1rem);
      vertical-align: top;
    }

    &--right {
      margin-right: 0;
      margin-left: $button-icon-margin;
    }
  }

  &__spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }
}
