// Root
%card-root {
  @include transition(box-shadow, 120ms);
  display: block;
  position: relative;
  border-radius: $card-border-radius;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .33);
}

%card-root-selected {
  box-shadow: 0 0 0 2px $brand-primary;
}


// Process overlay
%card-process-overlay {
  @include absolute(0, 0, 0, 0, 100);
  @include transition(all, $transition-duration-fast);
  border-radius: 3px;
  background: rgba(#fff, .7);
  opacity: 0;
  visibility: hidden;
}

%card-process-overlay-processing {
  opacity: 1;
  visibility: visible;
}

%card-process-overlay-spinner {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


// Media
%card-media {
  position: relative;
  height: 0;
  padding-bottom: 74%;
  border-bottom: 1px solid $gray-lightest;
}

%card-media-overlay {
  @include absolute(0, 0, 0, 0, 10);
  backface-visibility: hidden;
}

%card-media-item-wrapper {
  @include absolute(0, 0, 0, 0, 1);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

%card-media-item {
  @include absolute(0, 0, 0, 0, 1);
  @include transition(all, $card-duration);
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%card-media-item-active {
  filter: blur(2px);
}

%card-media-spinner {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


// Overlay
%card-overlay {
  @include absolute(0, 0, 0, 0, 1);
  @include transition(opacity, $card-duration);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .75);
  color: #fff;
  font-size: 1.125rem;
  letter-spacing: .05em;
  text-align: center;
  opacity: 0;
}

%card-overlay-show,
%card-overlay-selected {
  opacity: 1;
}

%card-overlay-inner {
  @include transition((opacity, visiblity), 120ms);
  position: relative;
  opacity: 1;
  visibility: visible;
}

%card-overlay-inner-selected {
  opacity: 0;
  visibility: hidden;
}

%card-overlay-select {
  position: absolute !important;
  top: 10px;
  left: 10px;

  .checkbox__checkbox {
    border-color: #fff;
  }
}

%card-overlay-action {
  display: block;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
  color: #fff !important;
  font-size: inherit;

  & + & {
    margin-top: 10px;
  }

  .flat-button__body {
    padding-right: 0;
    padding-left: 0;
  }
}

%card-overlay-more {
  @include absolute(5px, 5px, auto, auto);
  @include transition((opacity, visibility), 120ms);
  opacity: 1;
  visibility: visible;
}

%card-overlay-more-selected {
  opacity: 0;
  visibility: hidden;
}


// More
%card-more {
  display: inline-block;
}

%card-more-trigger {
  @include absolute(0, 0, auto, auto, 2);
  @include transition(all, $card-duration);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

%card-more-trigger-show {
  transform: translateY(-15px);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

%card-more-trigger-selected {
  opacity: 0;
  visibility: hidden;
}

%card-more-actions {
  @extend %card-more;
  @include transition(all, $card-duration);
  position: relative;
  transform: translateY(-15px);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

%card-more-actions-show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

%card-more-action {
  display: inline-block;
}


// Body
%card-body {
  position: relative;
  padding: 15px 20px;
  color: $gray-light;
  z-index: 2;

  a {
    color: $gray-light;

    &:hover {
      color: $brand-primary;
    }
  }
}


// Title
%card-title {
  margin: 0;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


// Text
%card-text {
  @extend %card-title;
  margin: .4em 0 0;
  font-size: .62rem;
}


// Action
%card-action {
  @include absolute(12px, 10px);
  color: $gray-lighter;

  .icon-button__ripple {
    background: rgba(#000, .2);
  }
}
