// Root
%card-list-root {
  @extend %card-root;
  display: table;
  width: 100% !important;
  color: darken($gray-lightest, 15%);
}


// Col
%card-list-col {
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
}

%card-list-col-media {
  width: 120px;
  padding: 0;
}

%card-list-col-body {
  padding-left: 20px;
}

%card-list-col-meta {
  width: 1%;
  white-space: nowrap;
}

%card-list-col-more {
  @extend %card-list-col-meta;
  width: 10%;
  text-align: right;
}

%card-list-media {
  position: relative;
  height: 80px;
}

%card-list-media-item {
  @extend %card-media-item;
  background-position: center center !important;
}

%card-list-media-spinner {
  @extend %card-media-spinner;
}


// Label
%card-list-label {
  font-size: .87rem;

  svg {
    @include size(.9em);
    fill: currentColor;
  }
}


// Body
%card-list-body {
  @extend %card-body;
  padding: 0;
  color: inherit;
}


// Title
%card-list-title {
  @extend %card-title;
  color: $gray-light;
  font-size: 1.25rem;
}

%card-list-text {
  @extend %card-text;
}


// More
%card-list-more {
  @extend %card-more;
  position: relative;
}

%card-list-more-actions {
  @extend %card-more-actions;
}

%card-list-more-actions-show {
  @extend %card-more-actions-show;

  .icon-button__ripple {
    background: rgba(#000, .2);
  }
}

%card-list-more-action {
  @extend %card-more-action;
}

%card-list-more-trigger {
  @extend %card-more-trigger;
}

%card-list-more-trigger-show {
  @extend %card-more-trigger-show;
}
