$card-duration: 100ms;
$card-border-radius: 2px;
$card-action-color: lighten($gray-lighter, 20%);
$card-action-ripple-color: rgba(#000, .16);

@import "card/card-base";
@import "card/card-grid";
@import "card/card-gallery";
@import "card/card-list";

@mixin card() {
  @include card-base;
  @include card-grid;

  &--gallery {
    @include card-base;
    @include card-gallery;
  }

  &--list {
    @include card-base;
    @include card-list;
  }
}
