$switch-size: 20px;


@mixin switch-extend-all($type) {
  display: block;
  position: relative;

  &--inline {
    display: inline-block;
  }

  &__input {
    @include absolute(0, 0, 0, 0, 5);
    @include size(100%);
    cursor: pointer;
    opacity: 0;
  }

  &__#{$type} {
    @include size($switch-size);
    display: inline-block;
    position: relative;
    border: 2px solid $gray-lighter;
    vertical-align: middle;
  }

  &__label {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 1rem;
    line-height: $switch-size;
    vertical-align: middle;
  }

  &__ripple {
    @extend %ripple;
    @include size($switch-size * 1.8);
    top: 50%;
    left: 50%;
    background-color: rgba(#fff, .1);
  }
}
