.checkbox {
  @include switch-extend-all(checkbox);

  &__checkbox {
    &::before,
    &::after {
      @include transition(all, 200ms);
      display: block;
      position: absolute;
      content: "";
      opacity: 0;
    }

    &::before {
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      transform: scale(0);
      background: $brand-primary;
      content: "";
      z-index: 1;
    }

    &::after {
      top: 1px;
      left: 5px;
      width: 6px;
      height: 12px;
      transform: scale(0) rotate(45deg);
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: #fff;
      z-index: 2;
    }

    &--checked {
      &::before,
      &::after {
        opacity: 1;
      }

      &::before {
        transform: scale(1);
      }

      &::after {
        transform: scale(1) rotate(45deg);
      }
    }
  }
}
