@keyframes dialog-enter {
  0% {
    transform: translateY(15px) scale(.88, .88);
    opacity: .01;
  }

  100% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
  }
}

@keyframes dialog-leave {
  0% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: translateY(10px) scale(1, 1);
    opacity: 0;
  }
}

.dialog {
  @include relative(auto, auto, auto, auto, 1000);
  display: block;
  width: 400px;
  max-width: 100%;
  margin: auto;
  transform: translateY(15px) scale(.88, .88);
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .22), 0 2px 6px rgba(0, 0, 0, .22);
  opacity: 0;
  overflow: hidden;

  .open-enter & {
    animation: dialog-enter #{$dialog-enter-duration}ms $transition-easing;
  }

  .open-leave & {
    animation: dialog-leave #{$dialog-leave-duration}ms $transition-easing;
  }

  &--open {
    transform: scale(1, 1);
    opacity: 1;
  }

  &__wrapper {
    @include fixed(0, 0, 0, 0, 999);
    @include transition(all);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    text-align: center;
    opacity: 0;
    visibility: hidden;

    &--open {
      opacity: 1;
      visibility: visible;
    }

    .open-enter & {
      transition-duration: $dialog-enter-duration;
    }

    .open-leave & {
      transition-duration: $dialog-leave-duration;
    }
  }

  &__overlay {

    .open-enter & {
      transition-duration: $dialog-enter-duration;
      opacity: .01;
    }

    .open-enter-active & {
      opacity: 1;
    }

    .open-leave & {
      transition-duration: $dialog-leave-duration;
      opacity: 1;
    }

    .open-leave-active & {
      opacity: .01;
    }
  }

  &__container {
    @include transition(all);
    position: relative;
    // opacity: 0;
    opacity: 1;

    .open-enter & {
      // transition-delay: #{$dialog-enter-duration / 2}ms;
      // transition-duration: #{$dialog-enter-duration / 2}ms;
      // opacity: .01;
    }

    .open-enter-active & {
      // opacity: 1;
    }

    .open-leave & {
      // transition-delay: #{$dialog-leave-duration / 2}ms;
      // transition-duration: #{$dialog-leave-duration / 2}ms;
      // opacity: 1;
    }

    .open-leave-active & {
      // opacity: .01;
    }

    &--open {
      opacity: 1;
    }
  }

  &__header {
    position: relative;
    padding: 40px 20px;
    background: $brand-primary;
    color: #fff;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 30px;
  }

  &__icon {
    vertical-align: middle;

    svg {
      @include size(30px);
      margin: 0 5px 0 0;
      vertical-align: top;
      fill: darken($brand-primary, 12%);
    }
  }

  &__close {
    @include absolute(10px, 10px);

    svg {
      opacity: .5;
      fill: #fff !important;
    }

    .icon-button__ripple {
      background: lighten($brand-primary, 5%);
    }
  }

  &__body {
    padding: 20px;
    text-align: left;
  }

  &__actions {
    padding: 10px 20px;
    text-align: right;

    .flat-button {
      &:hover {
        background-color: darken(#fff, 8%);
      }

      & + .flat-button {
        margin-left: 10px;
      }
    }

    .flat-button__ripple {
      background: darken(#fff, 12%);
    }
  }
}
