.file-dnd {
  position: relative;

  &__overlay {
    @include absolute(0, 0, 0, 0, 6000);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($brand-primary, .8);
    color: #fff;
  }
}
