.floating-menu {
  display: inline-block;
  position: relative;

  &__toggle {
    // TODO

    &--open {
      // TODO
    }
  }

  &__list {
    @include absolute(auto, 0, 100%, 0, 5);
    @include transition(all, $transition-duration-fast);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;

    &--open {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    @include size(50px);
    display: block;
    margin: 5px auto;
    opacity: 0;
    visibility: hidden;
    transition-property: all;
    transition-duration: $transition-duration-normal;

    &--open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) !important;
    }
  }
}
