$header-main-height: 60px;

.header {
  @include fixed(0, 0, auto, 0, 999);
  background: $gray-light;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);

  &__row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: $header-main-height;

    &--main {
      // TODO
    }

    &--sub {
      border-top: 1px solid lighten($gray-light, 5%);
    }
  }

  &__col {
    white-space: nowrap;

    &--sub-left {
      padding-left: 20px;
    }

    &--sub-left,
    &--sub-right {
      flex-grow: 2;
    }

    &--main-right,
    &--sub-right {
      padding-right: 20px;
      text-align: right;
    }

    &--main-center,
    &--sub-center {
      flex-grow: 1;
      padding: 0 20px;
      text-align: center;
    }
  }

  &__logo {
    margin: 0 20px 0 0;
    float: left;

    a {
      @include size(60px);
      display: block;
      position: relative;
      background: $brand-primary;
      color: #fff;
    }

    svg {
      @include absolute(0, 0, 0, 0, 1);
      width: 23px;
      height: 30px;
      margin: auto;
      fill: currentColor;
    }
  }

  &__nav {
    float: left;

    &__item {
      display: inline-block;
      font-size: 1rem;

      a {
        display: block;
        position: relative;
        height: $header-main-height;
        padding: 0 20px;
        color: lighten($gray-light, 20%);
        line-height: $header-main-height;

        &:hover {
          color: lighten($gray-light, 40%);
        }

        &::after {
          @include absolute(auto, 0, 0, 0, 1);
          @include transition(all);
          display: block;
          height: 1px;
          transform: scale(0, 1);
          transform-origin: center center;
          background: $brand-primary;
          content: "";
          opacity: 0;
        }
      }

      &--active a {
        color: $brand-primary !important;
        cursor: default;

        &::after {
          transform: scale(1, 1);
          opacity: 1;
        }
      }
    }
  }

  &__main-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: .05em;
  }

  &__user {
    margin: 0 10px 0 0;
    float: left;
    text-align: right;

    &__avatar {
      display: inline-block !important;
      vertical-align: middle;
    }

    &__drop-down {
      z-index: 5001;
    }
  }

  &__setting {
    float: left;

    svg {
      @include size(24px);
    }
  }

  &__search-field {
    display: inline-block;

    .text-field__placeholder {
      color: lighten($gray-light, 5%);
    }
  }

  &__layout-slider,
  &__layout-group {
    display: inline-block !important;
  }

  &__layout-slider {
    width: 140px !important;
    margin-right: 20px;
  }

  &__layout-group {
    .layout-button {
      color: lighten($gray-light, 5%);

      &--selected {
        color: lighten($gray-light, 50%);
      }
    }
  }
}
