$button-size: 40px;


.icon-button {
  @include button-extend-all;

  border-radius: 50%;
  box-shadow: none;

  &:hover {
    box-shadow: none;

    .icon-button__body {
      opacity: .6;
    }
  }

  &__ripple-container {
    overflow: visible;
  }

  &__ripple {
    $size: round($button-size * 1.1);
    top: 50% !important;
    left: 50% !important;
    width: $size !important;
    height: $size !important;
    margin-top: -$size / 2;
    margin-left: -$size / 2;
    background: lighten($background-root, 8%);
  }

  &__body {
    @include size($button-size);
    @include transition(all);
    padding: 0;
  }

  &__icon {
    margin: 0;

    svg {
      fill: $color-root;
    }
  }
}
