$button-size: 40px;
$tooltip-duration: 320ms;


.icon-button {
  @include button-extend-all;

  border-radius: 50%;
  box-shadow: none;

  &:hover {
    box-shadow: none;

    .icon-button__body {
      opacity: .6;
    }
  }

  &__ripple-container {
    overflow: visible;
  }

  &__ripple {
    top: 50% !important;
    left: 50% !important;
    width: 100% !important;
    height: 100% !important;
  }

  &__body {
    @include size($button-size);
    @include transition(all);
    padding: 0;
  }

  &__icon {
    margin: 0;

    svg {
      vertical-align: middle;
      fill: currentColor;
    }
  }

  &__tooltip {
    @include transition(all, $tooltip-duration / 2);
    position: absolute;
    border-radius: 3px;
    cursor: default;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: 1000;
    user-select: none;
    pointer-events: none;

    &--show {
      opacity: 1;
      visibility: visible;
    }

    &__ripple {
      @include transition(all, $tooltip-duration);
      position: absolute;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      background: transparent;
      z-index: 0;

      &--show {
        transform: translate(-50%, -50%) scale(1);
        background: rgba(#000, .9);
      }

      &--top-left {
        top: 100%;
        left: 100%;
      }

      &--top-center {
        top: 100%;
        left: 50%;
      }

      &--top-right {
        top: 100%;
        left: 0;
      }

      &--middle-left {
        top: 50%;
        left: 100%;
      }

      &--middle-center {
        top: 50%;
        left: 50%;
      }

      &--middle-right {
        top: 50%;
        left: 0;
      }

      &--bottom-left {
        top: 0;
        left: 100%;
      }

      &--bottom-center {
        top: 0;
        left: 50%;
      }

      &--bottom-right {
        top: 0;
        left: 0;
      }
    }

    &__label {
      @include transition(all, $tooltip-duration / 2);
      display: inline-block;
      position: relative;
      padding: .4em 1.2em;
      color: #fff;
      font-size: .75rem;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      opacity: 0;
      z-index: 1;

      &--show {
        opacity: 1;
      }
    }
  }
}
