.item-card {

  &__checkbox {
    @include absolute(10px, auto, auto, 10px);

    .checkbox__checkbox {
      border-color: #fff;
    }
  }

  &__detail {
    @include absolute(50%, auto, auto, 50%);
    margin: -20px 0 0 -45px;

    .flat-button__body {
      width: 90px;
      height: 40px;
      padding: 0;
      color: #fff;
      line-height: 40px;
    }
  }

  &__more {
    @include absolute(5px, 5px);
    transform: translateY(0);

    .item-card--show-more & {
      transform: translateY(-5px);
      opacity: 0;
      visibility: hidden;
    }
  }

  &__more-actions {
    @include absolute(5px, 5px);
    @include transition(all);
    transform: translateY(-5px);
    opacity: 0;
    visibility: hidden;

    .item-card--show-more & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
