.popover {
  @include absolute(auto, auto, auto, auto, 10);
}


.popover-animation {
  @include transition((transform, opacity), #{$popover-duration / 2}ms);
  transform: scale(0);
  opacity: 0;

  &--open {
    transform: scale(1);
    opacity: 1;
  }

  &__horizontal {
    @include transition(all, #{$popover-duration / 2}ms);
    transform: scaleX(.4);
    opacity: 0;

    &--open {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &__vertical {
    @include transition(all, #{$popover-duration}ms);
    transform: scaleY(.4);
    opacity: 0;

    &--open {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  &__scroll-container {
    $shadow-color: rgba(#000, .78);
    display: block;
    position: relative;
    border-radius: 2px;
    box-shadow: $shadow-color 0 1px 6px, $shadow-color 0 1px 4px;
    overflow: hidden;
    z-index: 101;

    [class*="iScrollVerticalScrollbar"] {
      @include absolute(0, 0, 0, auto, 100);
      width: 4px;
      background: #ccc;
    }

    [class*="iScrollIndicator"] {
      position: absolute;
      width: 100%;
      background: rgba(#000, .3);
    }
  }
}
