@keyframes ripple-effect {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  10% {
    opacity: .1;
  }

  60% {
    opacity: .8;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.raised-button {
  @include transition(all);
  display: inline-block;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
  overflow: hidden;

  &:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);

    &.raised-button--default {
      background: darken(#fff, 10%);
    }

    &.raised-button--primary {
      background: darken($brand-primary, 5%);
    }
  }

  &__body {
    display: block;
    margin: 0;
    padding: 12px 20px;
    border: none;
    border-radius: 0;
    background: transparent;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  &__label {
    position: relative;
    z-index: 1;
  }

  &__ripple {
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    z-index: 0;
    animation: ripple-effect #{$ripple-duration}ms $ease-out-quad;
  }

  &--default {
    background: #fff;

    .raised-button__ripple {
      background: darken(#fff, 2%);
    }
  }

  &--primary {
    background: $brand-primary;
    color: #fff;

    .raised-button__ripple {
      background: lighten($brand-primary, 3%);
    }
  }
}
