$button-colors: (
  default: (
    default: (
      color: $gray-dark,
      background: #fff
    ),
    hover: (
      color: $gray-dark,
      background: darken(#fff, 8%)
    )
  ),

  primary: (
    default: (
      color: #fff,
      background: $brand-primary
    ),
    hover: (
      color: #fff,
      background: darken($brand-primary, 8%)
    )
  ),

  danger: (
    default: (
      color: #fff,
      background: $brand-danger
    ),
    hover: (
      color: #fff,
      background: darken($brand-danger, 8%)
    )
  ),
);


@keyframes ripple-effect {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  60% {
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}


.raised-button {
  $shadow-color: rgba(0, 0, 0, .11);

  @include transition(all);
  display: inline-block;
  position: relative;
  border-radius: 2px;
  font-size: 1rem;
  box-shadow: 0 2px 6px $shadow-color, 0 2px 4px $shadow-color;
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: 0 1px 4px $shadow-color, 0 1px 2px $shadow-color;
  }

  &__ripple-container {
    @include absolute(0, 0, 0, 0, 0);
    overflow: hidden;
  }

  &__ripple {
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    opacity: 0;
    animation: ripple-effect #{$ripple-duration}ms $ease-out-cubic;
  }

  &__body {
    display: block;
    margin: 0;
    padding: 12px 25px;
    border: none;
    border-radius: 0;
    background: transparent;
    color: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  &__label {
    position: relative;
    z-index: 1;
  }

  @each $type, $values in $button-colors {
    &--#{$type} {
      @each $modifier, $values in $values {
        @if $modifier == default {
          background-color: map-get($values, background);
          color: map-get($values, color);
        } @else {
          &:#{$modifier} {
            background-color: map-get($values, background);
            color: map-get($values, color);
          }
        }
      }

      .raised-button__ripple {
        background: darken(map-deep-get($values, hover, background), 5%);
      }
    }
  }
}
