$spinner-offset: 187;
$spinner-duration: 1400ms;
$spinner-sizes: (
  xl: 100px,
  lg: 60px,
  md: 40px,
  sm: 25px,
  xs: 16px
);


@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes spinner-colors {
  0% {
    stroke: #4285f4;
  }

  25% {
    stroke: #de3e35;
  }

  50% {
    stroke: #f7c223;
  }

  75% {
    stroke: #1b9a59;
  }

  100% {
    stroke: #4285f4;
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dashoffset: $spinner-offset;
  }

  50% {
    transform: rotate(135deg);
    stroke-dashoffset: $spinner-offset / 4;
  }

  100% {
    transform: rotate(450deg);
    stroke-dashoffset: $spinner-offset;
  }
}


.spinner {
  @include transition(all);
  display: inline-block;
  opacity: 0;
  visibility: hidden;

  &--show {
    opacity: 1;
    visibility: visible;
  }

  &__icon {
    position: relative;
    animation: spinner-rotate $spinner-duration linear infinite;

    @each $modifier, $size in $spinner-sizes {
      &--#{$modifier} {
        @include size($size);
      }
    }
  }

  &__path {
    transform-origin: center;
    animation: spinner-dash $spinner-duration ease-in-out infinite, spinner-colors ($spinner-duration * 4) ease-in-out infinite;
    stroke-width: 6;
    stroke-dasharray: $spinner-offset;
    stroke-dashoffset: 0;
  }
}
