.avatar {
  $size: 40px;

  display: inline-flex;
  align-items: center;

  &__body {
    text-align: right;
    letter-spacing: .04em;
  }

  &__primary {
    margin: 0 0 .1em;
    font-size: 1rem;
  }

  &__secondary {
    font-size: .62rem;
  }

  &__icon {
    @include size($size);
    margin-left: 10px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
  }
}
