.color-bar {
  display: block;
  cursor: pointer;

  &__list {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__item {
    display: table-cell;
    height: 8px;

    &--selectable {
      @include transition(all, 120ms);
      height: 20px;
      transform: scaleY(.1);
      transform-origin: top left;
      cursor: pointer;

      &:hover {
        transform: scaleY(.4);
      }
    }

    &--selected {
      transform: scaleY(.5);

      &:hover {
        transform: scaleY(.5);
      }
    }
  }
}
