.file-dnd {
  position: relative;

  &__content {
    @include transition(filter, #{$file-dnd-overlay-leave-duration}ms);

    &--dragging {
      transition-duration: #{$file-dnd-overlay-enter-duration}ms;
    }
  }

  &__overlay {
    @include absolute(0, 0, 0, 0, 6000);
    @include transition((opacity, filter));
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($brand-primary, .8);
    color: #fff;

    * {
      pointer-events: none;
    }

    &.drop-overlay {
      &-enter {
        opacity: .01;
      }

      &-enter-active {
        transition-duration: #{$file-dnd-overlay-enter-duration}ms;
        opacity: 1;
      }

      &-leave {
        opacity: 1;
      }

      &-leave-active {
        transition-duration: #{$file-dnd-overlay-leave-duration}ms;
        opacity: .01;
      }
    }
  }
}
