$button-colors: (
  default: $color-root,
  primary: $button-color-primary,
  secondary: $button-color-secondary,
  danger: $button-color-danger
);


.flat-button {
  @include button-styles;

  box-shadow: none !important;

  &:not(&--disable):hover {
    background: rgba(#000, .12);
  }

  &--processing {
    background: rgba(#000, .12);
  }

  @each $modifier, $color in $button-colors {
    &:focus {
      background: rgba(#000, .12);
    }

    &--#{$modifier} {
      color: $color;
    }

    &__icon--#{$modifier} {
      color: $color;
    }
  }

  &--disable,
  &--processing {
    color: $gray-lightest;
    opacity: .6;
  }
}
