$button-size: 60px;

$button-colors: (
  default: (
    default: (
      color: $gray-dark,
      background: #fff
    ),
    hover: (
      color: $gray-dark,
      background: darken(#fff, 20%)
    )
  ),

  primary: (
    default: (
      color: #fff,
      background: $button-color-primary
    ),
    hover: (
      color: #fff,
      background: darken($button-color-primary, 20%)
    )
  ),

  danger: (
    default: (
      color: #fff,
      background: $button-color-danger
    ),
    hover: (
      color: #fff,
      background: darken($button-color-danger, 8%)
    )
  ),
);


.floating-button {
  @include button-styles;
  @include size($button-size);

  border-radius: 50%;

  &__ripple-container {
    border-radius: 50%;
  }

  &__ripple {
    background: rgba(#000, .2);
  }

  &__body {
    @include size(100%);
    padding: 0;
  }

  &__icon {
    margin: 0;
    color: $color-root;

    svg {
      fill: currentColor;
    }
  }

  &__tooltip {
    @include tooltip;
  }

  @each $type, $values in $button-colors {
    &--#{$type} {
      &:focus {
        background-color: map-deep-get($values, hover, background);
      }

      @each $modifier, $colors in $values {
        @if $modifier == default {
          background-color: map-get($colors, background);
        } @else {
          &:#{$modifier} {
            background-color: map-get($colors, background);
          }
        }
      }
    }

    &__icon--#{$type} {
      color: map-deep-get($values, default, color);
    }
  }
}
