.label {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 3px;
  background: darken($background-root, 5%);
  color: #fff;
  font-size: 12px;
  line-height: 1;

  &__icon {
    margin: 0 .4em 0 0;
    opacity: .5;

    svg {
      @include size(.9em);
      vertical-align: top;
    }
  }
}
