$button-colors: (
  default: (
    default: (
      color: $gray-dark,
      background: #fff
    ),
    hover: (
      color: $gray-dark,
      background: darken(#fff, 8%)
    )
  ),

  primary: (
    default: (
      color: #fff,
      background: $button-color-primary
    ),
    hover: (
      color: #fff,
      background: darken($button-color-primary, 8%)
    )
  ),

  danger: (
    default: (
      color: #fff,
      background: $button-color-danger
    ),
    hover: (
      color: #fff,
      background: darken($button-color-danger, 8%)
    )
  ),
);


.raised-button {
  @include button-extend-all;

  &__ripple {
    background: rgba(#000, .2);
  }

  @each $type, $values in $button-colors {
    &--#{$type} {
      @each $modifier, $values in $values {
        @if $modifier == default {
          background-color: map-get($values, background);
          color: map-get($values, color);
        } @else {
          &:#{$modifier} {
            background-color: map-get($values, background);
            color: map-get($values, color);
          }
        }
      }
    }

    &__icon--#{$type} {
      fill: map-deep-get($values, default, color);
    }
  }
}
