.snackbar {
  $duration: 300ms;

  @include fixed(auto, auto, 10px, 10px, 1000);
  @include transition(all, $duration / 2);
  display: block;
  text-align: center;
  opacity: 0;
  visibility: hidden;

  &--open {
    opacity: 1;
    visibility: visible;
  }

  &__horizontal,
  &__vertical {
    display: inline-block;
    transform-origin: bottom center;
    opacity: 0;
    visibility: hidden;
  }

  &__horizontal {
    @include transition(all, $duration / 2);
    transform: scaleX(.4);

    &--open {
      transform: scaleX(1);
      opacity: 1;
      visibility: visible;
    }
  }

  &__vertical {
    @include transition(all, $duration);
    transform: scaleY(.4);

    &--open {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible;
    }
  }

  &__body {
    @include transition(all, $duration);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: .5em .5em .5em 1.4em;
    transform: translateY(30px);
    border-radius: 2px;
    background: rgba(#000, .92);
    color: #fff;
    font-size: .75em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .22), 0 2px 6px rgba(0, 0, 0, .22);
    vertical-align: middle;

    &--open {
      transform: translateY(0);
    }
  }

  &__message {
    letter-spacing: .05em;
  }

  &__action {
    margin-left: 2em;
    font-size: .87rem;
  }

  &__close {
    margin-left: .1em;
    color: darken(#fff, 20%);

    &,
    .icon-button__body {
      @include size(36px);
    }

    .icon-button__icon,
    .icon-button__icon svg {
      @include size(12px);
    }
  }
}
