$text-field-duration: 180ms;

.text-field {
  position: relative;
  width: 100%;

  &::after {
    @include absolute(100%, 0, auto, 0, 3);
    @include transition(all, $text-field-duration);
    display: block;
    margin-top: -1px;
    border-bottom: 2px solid rgba(#fff, .2);
    content: "";
    opacity: 0;
    visibility: hidden;
  }

  &--is-focused {
    &::after {
      border-color: $brand-primary;
      opacity: 1;
      visibility: visible;
    }
  }

  &--has-error {
    &::after {
      border-color: $brand-danger;
      opacity: 1;
      visibility: visible;
    }
  }

  &__label,
  &__placeholder {
    @include transition(all, $text-field-duration);
    pointer-events: none;
    user-select: none;
  }

  &__label {
    position: relative;
    transform: translate(0, 1.8em) scale(1);
    transform-origin: top left;
    color: darken($color-root, 30%);
    line-height: 1;
    z-index: 2;

    &--is-focused,
    &--has-value {
      transform: translate(0, 0) scale(.75);
    }

    &--is-focused {
      color: $brand-primary;

      &.text-field__label--has-error {
        color: $brand-danger;
      }
    }
  }

  &__placeholder {
    @include absolute(.6em, auto, auto, auto, 2);
    color: rgba($color-root, .3);
    opacity: 1;

    .text-field--has-label & {
      top: 1.6em;

      &:not(.text-field__placeholder--is-focused) {
        opacity: 0;
      }
    }

    &--has-value {
      opacity: 0;
    }
  }

  &__error {
    @include absolute(auto, 0, -1.75em, 0);
    color: $brand-danger;
    font-size: .75em;
    line-height: 1;
  }

  &__control {
    position: relative;
    width: 100%;
    margin: 0;
    padding: .5em 0;
    border-width: 0 0 1px;
    border-color: rgba(#fff, .2);
    background: transparent;
    color: $color-root;
    font-size: 1em;
    line-height: 1.4;
    overflow: hidden;
    vertical-align: bottom;
    z-index: 3;
    resize: none;

    &--is-focused {
      outline: none;
    }
  }
}
