.select-color-popover {
  &__body {
    width: 250px;
    padding: 25px;
    background: #fff;
  }

  &__color-group {
    margin-bottom: 25px;
  }

  &__btn {
    display: block;
    margin: 5px auto 0;
  }
}
