.user-drop-down {
  position: relative;
  width: 320px;
  padding: 20px 20px 10px;
  background: #fff;
  color: $gray;
  font-size: 1rem;

  &__status {
    .upload-status__logo {
      color: darken(#fff, 30%);
    }

    .progress-bar {
      background: rgba(#000, .2);
    }
  }

  &__footer {
    margin: 10px 0 0;
    text-align: right;
  }

  &__action {
    color: inherit !important;
    font-size: .75em !important;

    .flat-button__ripple {
      background-color: rgba(#000, .1);
    }

    & + & {
      margin-left: 10px;
    }
  }
}
