.board-card {
  @include card-extend-all;

  &::before,
  &::after {
    @include absolute(0, 0, 0, 0, -1);
    @include size(100%);
    @include transition(all, $card-duration);
    display: block;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(#000, .33);
    content: "";
  }

  &::before {
    transform: rotate(-3deg) translate(-2px, -3px);
  }

  &::after {
    transform: rotate(3deg) translate(0, 2px);
  }

  &:not(&--selected):hover {
    &::before {
      transform: rotate(-1deg) translate(-1px, -2px);
    }

    &::after {
      transform: rotate(1deg) translate(0, 0);
    }
  }

  &--selected {
    &::before {
      transform: rotate(0) translate(0, 9px);
    }

    &::after {
      transform: rotate(0) translate(0, 5px);
    }
  }

  &__label {
    @include absolute(3px, auto, auto, 3px, 5);
    @include transition(all, $card-duration);
    opacity: 1;

    .board-card__media--overlay-show & {
      opacity: 0;
    }
  }

  &__body {
    padding: 30px 20px;
    border-radius: 0 0 $card-border-radius $card-border-radius;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(#000, .33);
  }

  &__title {
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    color: $gray-lighter;
  }
}
