.dialog {
  @include relative(auto, auto, auto, auto, 1500);
  @include transition(all);
  display: block;
  width: 400px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .22), 0 2px 6px rgba(0, 0, 0, .22);
  opacity: 0;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  .open-enter & {
    transition-duration: #{$dialog-enter-duration}ms;
    opacity: .01;
  }

  .open-enter-active & {
    opacity: 1;
  }

  .open-leave & {
    transition-duration: #{$dialog-leave-duration}ms;
    opacity: 1;
  }

  .open-leave-active & {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    opacity: .01;
  }

  &--open {
    transform: scale(1, 1);
    opacity: 1;
  }

  &__wrapper {
    @include fixed(0, 0, 0, 0, 1500);
    @include transition(all);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &--open {
      opacity: 1;
      visibility: visible;
    }

    .open-enter & {
      transition-duration: #{$dialog-enter-duration}ms;
    }

    .open-leave & {
      transition-duration: #{$dialog-leave-duration}ms;
    }
  }

  &__overlay {
    .open-enter & {
      transition-duration: #{$dialog-enter-duration}ms;
      opacity: .01;
    }

    .open-enter-active & {
      opacity: 1;
    }

    .open-leave & {
      transition-duration: #{$dialog-leave-duration}ms;
      opacity: 1;
    }

    .open-leave-active & {
      opacity: .01;
    }
  }

  &__horizontal,
  &__vertical {
    transition-property: all;
    transition-timing-function: $transition-easing;
  }

  &__horizontal {
    @include relative(auto, auto, auto, auto, 1000);
    margin: auto;
    opacity: 0;

    .open-enter & {
      transform: scaleX(.4);
      opacity: 0;
    }

    .open-enter-active & {
      transform: scaleX(1);
      transition-duration: #{$dialog-enter-duration / 2}ms;
      opacity: 1;
    }

    .open-leave & {
      transform: scaleX(1);
      opacity: 1;
    }

    .open-leave-active & {
      transform: scaleX(.4);
      transition-duration: #{$dialog-leave-duration / 2}ms;
      opacity: .01;
    }

    &--open {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &__vertical {
    transform: scaleY(.4) translateY(40px);
    opacity: 0;

    .open-enter & {
      transform: scaleY(.4) translateY(40px);
      opacity: 0;
    }

    .open-enter-active & {
      transform: scaleY(1) translateY(0);
      transition-duration: #{$dialog-enter-duration}ms;
      opacity: 1;
    }

    .open-leave & {
      transform: scaleY(1) translateY(0);
      opacity: 1;
    }

    .open-leave-active & {
      transform: scaleY(.4) translateY(10px);
      transition-duration: #{$dialog-leave-duration}ms;
      opacity: .01;
    }

    &--open {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  &__container {
    position: relative;
  }

  &__header {
    position: relative;
    padding: 40px 20px;
    background: $brand-primary;
    color: #fff;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 30px;
  }

  &__icon {
    vertical-align: middle;

    svg {
      @include size(30px);
      margin: 0 5px 0 0;
      vertical-align: top;
      fill: darken($brand-primary, 12%);
    }
  }

  &__close {
    @include absolute(10px, 10px);

    svg {
      opacity: .5;
      fill: #fff !important;
    }

    .icon-button__ripple {
      background: lighten($brand-primary, 5%);
    }
  }

  &__body {
    padding: 20px;
    text-align: left;

    .drop-down-menu__trigger--block {
      border-bottom-color: $gray-lightest;
    }

    .text-field__placeholder {
      color: $color-root;
    }

    .text-field__control {
      border-bottom-color: $gray-lightest;
      color: $gray-dark;
    }
  }

  &__actions {
    padding: 10px 20px;
    text-align: right;

    .flat-button {
      &:not(.flat-button--disable):hover {
        background-color: darken(#fff, 8%);
      }

      & + .flat-button {
        margin-left: 10px;
      }
    }

    .flat-button__ripple {
      background: darken(#fff, 12%);
    }
  }
}
