$drawer-width: 220px;
$drawer-shadow-size: 8px;
$drawer-duration: 260ms;


.drawer {
  @include transition(all, $drawer-duration);
  position: fixed;
  top: 0;
  bottom: 0;
  width: $drawer-width;
  background: $gray-dark;
  box-shadow: 0 0 $drawer-shadow-size rgba(0, 0, 0, .6);
  overflow: hidden;
  z-index: 2000;

  &--left {
    left: -$drawer-shadow-size;
    transform: translateX(-$drawer-width);

    &.drawer--open {
      transform: translateX(0);
    }
  }

  &--right {
    right: -$drawer-shadow-size;
    transform: translateY(-$drawer-width);

    &.drawer--open {
      transform: translateY(0);
    }
  }

  &__scroll-container {
    overflow: hidden;

    [class*="iScrollVerticalScrollbar"] {
      @include absolute(0, 0, 0, auto, 100);
      width: 4px;
    }

    [class*="iScrollIndicator"] {
      position: absolute;
      width: 100%;
      background: rgba(#000, .6);
    }
  }

  &__container {
    position: relative;
  }

  .list-item {
    & + .list-item {
      border-top-color: $gray-light;
    }

    &__icon {
      color: rgba(#fff, .5);
    }

    &__control {
      background-color: $brand-primary;

      .text-field__control {
        color: #fff;
      }
    }

    &__button {
      background-color: $gray-dark;
      color: $gray-lightest;

      &:not(.list-item__button--processing):hover {
        background-color: darken($gray-dark, 20%);
      }

      &__ripple {
        background-color: rgba(#fff, .2);
      }
    }
  }

  &__footer {
    @include absolute(auto, 0, 0, 0, 10);
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
  }
}
