.editable-text {
  $base-padding: .3em;
  $icon-padding: 1em + $base-padding;

  display: inline-block;

  &:focus {
    outline: none;
  }

  &__body {
    position: relative;
    padding: $base-padding 0;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    @include absolute(0, -$icon-padding, 0, auto);
    @include transition(all, 100ms);
    display: block;
    margin: auto;
    transform: translateY(-$base-padding);
    opacity: 0;
    @include size(.8em);

    &:focus {
      outline: none;
    }

    svg {
      @include relative(-.1em);
      @include size(100%);
      vertical-align: baseline;
      fill: currentColor;
    }

    &--show {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__text {
    display: inline-block;
    position: relative;
    min-width: 1em;
    min-height: .8em;
    z-index: 1;

    &:focus {
      outline: none;
    }

    &--is-editing {
      visibility: hidden;
    }
  }

  &__text-field {
    &.text-field {
      @include absolute(0, 0, 0, 0, 2);
      width: auto;
      min-width: 1em;
      min-height: 1em;
      visibility: hidden;
    }

    &--is-editing.text-field {
      visibility: visible;
    }

    .text-field__control {
      min-width: 1em;
      padding: $base-padding 0;
      border-bottom: none;
      font-size: 1em;
      letter-spacing: inherit;
      line-height: inherit;
      vertical-align: middle;

      &--is-focused {
        opacity: .7;
      }
    }
  }
}
