.feed-list-item {

  .list-item {
    &__primary,
    &__secondary {
      padding-right: 100px;
    }
  }

  .spinner {
    right: 25px;
  }

  &__meta {
    @include absolute(50%, 15px, auto, auto, 50);
    margin: -20px 0 0;
    padding: 0;
    list-style: none;

    &--processing {
      padding-right: 45px;
    }

    &__item {
      display: inline-block;
      opacity: .6;

      & + & {
        margin-left: 5px;
      }
    }
  }
}
