.floating-menu {
  display: inline-block;
  position: relative;

  &__toggle {
    @include transition(all, $transition-duration-fast);
    transform: scale(1);

    .floating-button__icon {
      @include transition(all, $transition-duration-fast);
      @include size(16px);
      transform: rotate(0) scale(1);
    }

    &--open {
      transform: scale(.95);
      background: darken($gray-lightest, 20%) !important;

      &:hover {
        background: darken($gray-lightest, 40%) !important;
      }

      .floating-button__icon {
        transform: rotate(-135deg) scale(1.4);
      }
    }
  }

  &__list {
    @include absolute(auto, 0, 100%, 0, 5);
    @include transition(all, $transition-duration-fast);
    transform: translateY(70px) scale(.1);
    transform-origin: 50% 100%;
    opacity: 0;
    visibility: hidden;

    &--open {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    @include size(50px);
    display: block;
    margin: 5px auto;
    transition-duration: $transition-duration-normal;
    transition-property: all;
    opacity: 0;
    visibility: hidden;

    &--open {
      transform: scale(1) translateY(0) !important;
      opacity: 1;
      visibility: visible;
    }
  }
}
