.image-viewer {
  $scrollbar-size: 6px;

  position: relative;
  overflow: hidden;

  &__spinner {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 100;
  }

  &__body {
    position: relative;
  }

  &__holder {
    $shadow: rgba(#000, .2);
    position: absolute;
    box-shadow: 0 2px 4px $shadow, 0 2px 6px $shadow;
    user-select: none;
  }

  &__image {
    @include size(100%);
    position: absolute;
    background: url("/images/transparent.png") repeat center center;
    background-size: 8px 8px;
  }

  [class*="iScrollHorizontalScrollbar"] {
    @include absolute(auto, $scrollbar-size, 0, $scrollbar-size, 100);
    height: $scrollbar-size;

    [class*="iScrollIndicator"] {
      height: 100%;
    }
  }

  [class*="iScrollVerticalScrollbar"] {
    @include absolute($scrollbar-size, 0, $scrollbar-size, auto, 100);
    width: $scrollbar-size;

    [class*="iScrollIndicator"] {
      width: 100%;
    }
  }

  [class*="iScrollIndicator"] {
    position: absolute;
    background: rgba(#000, .4);
  }
}
