.item-card {
  @include card-extend-all;

  &__body,
  &--gallery__body {
    padding-right: 60px;
    padding-bottom: 20px;
  }

  &__colors,
  &--gallery__colors {
    @include absolute(auto, 0, 0, 0, 5);
    border-top: 1px solid #efefef;
    border-radius: 0 0 3px 3px;
    overflow: hidden;

    .color-bar__item {
      height: 5px;
      transform: scale(1) !important;

      &:hover {
        opacity: .5;
      }
    }
  }

  &__star,
  &--gallery__star {
    &--active {
      color: #dcce1c;
    }
  }
}
