.menu-item {
  @include transition(all);
  min-width: 140px;

  & + & {
    border-top-width: 0;
  }

  &--selected,
  &--focused {
    .list-item__button {
      background-color: darken($brand-primary, 20%) !important;
    }
  }

  .list-item__button {
    height: auto;
  }

  .list-item__button__body {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .popover-animation {
    opacity: 0;
  }

  .popover-animation--open & {
    opacity: 1;
  }
}
