.selectable-color-group {
  $item-gutter: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
  margin-top: -$item-gutter;
  margin-right: -$item-gutter / 2;
  margin-left: -$item-gutter / 2;

  &__color {
    padding: $item-gutter ($item-gutter / 2) 0;
    font-size: 0;
  }
}
