.sort-switcher {
  $height: 34px;

  display: inline-block;

  &__types {
    .drop-down-menu__trigger {
      padding: 0 .5em 0 0;
      font-size: inherit;
      line-height: $height;
    }

    .drop-down-menu__icon {
      display: none;
    }
  }

  &__order {
    @include size($height);
  }
}
